---
const navigationItems = [
  { name: "Home", url: "/" },
  { name: "Blog", url: "/blog/" },
  { name: "Project", url: "/project/" },
];

const socialIcons = [
  {
    name: "GitHub",
    url: "https://github.com/umairabbasDev",
    icon: "i-uil-github",
  },
  {
    name: "Twitter",
    url: "https://www.twitter.com/umair_abba",
    icon: "i-uil-twitter",
  },
  {
    name: "Linkedin",
    url: "https://www.linkedin.com/in/umair-abbas-a43503121/",
    icon: "i-uil-linkedin",
  },
];

interface Props {
  pageTitle?: string;
}

const { pageTitle } = Astro.props;
---

<header class="border-b-4 border-black flex justify-between p-6 items-center">
  {pageTitle && <h1 class="hidden">{pageTitle}</h1>}
  <a href="/" title="Back to Home">
    <p class="righteous md:text-5xl">Umair Abbas</p>
  </a>
  <nav class="hidden md:inline-block">
    <h2 class="hidden">Navigation</h2>
    <ul class="flex gap-8 poppins">
      {
        navigationItems.map((item) => (
          <li>
            <a
              class="text-lg font-medium hover:text-green hover:underline transition-all duration-150 ease-in-out"
              href={item.url}
              title={`Go to ${item.name}`}
            >
              {item.name}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
  <nav class="md:hidden flex">
    <h2 class="hidden">Mobile Navigation</h2>
    <ul>
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/project/">Project</a></li>
    </ul>
  </nav>
</header>
