---
---

<footer class="bg-black text-white p-6">
  <h2 class="hidden">Footer</h2>
  <p class="outfit">
    <a
      href="https://www.github.com/umairabbasdev"
      target="_blank"
      class="text-blue">Umair Abbas</a
    >
  </p>
</footer>
