---
import Layout from "../layouts/Default.astro";
---

<Layout
  title="About"
  description="Umair about | On this page you can find a detail about umair abbas"
  pageTitle="Umair Abbas about"
>
  <main class=" min-h-screen flex items-center justify-center">
    <div class="bg-white rounded-lg shadow-md p-8 w-full mx-5">
      <h1 class="text-3xl font-bold mb-4">About Me</h1>
      <div class="mb-4 rounded-full w-20 h-20 object-cover object-center"></div>

      <p class="text-gray-700 mb-4">
        Hi there! I'm Umair Muhammad Abbas, a passionate Senior ReactJS
        Developer with extensive experience in building modern and scalable web
        applications. My journey in the world of web development began 7 years
        ago, and I've been deeply involved in crafting engaging user experiences
        ever since.
      </p>

      <p class="text-gray-700 mb-4">
        As a Senior ReactJS Developer, I specialize in front-end development
        using the latest technologies and best practices. I have a strong
        foundation in JavaScript, Typescript, React, Expressjs, nodejs, Nextjs
        and other related frameworks and technologies, allowing me to create
        robust and efficient solutions for complex problems.
      </p>

      <p class="text-gray-700 mb-4">
        My approach to development revolves around a commitment to clean,
        maintainable code and a user-centric design philosophy. I thrive in
        collaborative environments and enjoy tackling challenges that push the
        boundaries of what's possible in web development.
      </p>

      <p class="text-gray-700 mb-4">
        Outside of coding, I'm always eager to stay up-to-date with industry
        trends, attend conferences, and contribute to the developer community. I
        believe in continuous learning and strive to bring fresh perspectives to
        every project I work on.
      </p>

      <p class="text-gray-700">
        Let's create something amazing together! Feel free to reach out if you
        have any questions or if you're interested in collaborating on a
        project.
      </p>

      <!-- Contact Information -->
      <div class="mt-8">
        <p class="text-lg font-bold mb-2">Contact Information</p>
        <p>
          Email: <a
            href="mailto:your.email@example.com"
            class="text-blue-500 hover:underline">your.email@example.com</a
          >
        </p>
        <p>
          LinkedIn: <a
            href="https://www.linkedin.com/in/your-linkedin-profile"
            target="_blank"
            class="text-blue-500 hover:underline"
            >linkedin.com/in/your-linkedin-profile</a
          >
        </p>
        <p>
          GitHub: <a
            href="https://github.com/your-github-username"
            target="_blank"
            class="text-blue-500 hover:underline"
            >github.com/your-github-username</a
          >
        </p>
      </div>
    </div>
  </main>
</Layout>
