---
interface Props {
  href: string;
  color?: string;
  blank?: boolean;
  extraClasses?: string;
  style?: string;
}

const colors = [
  "red",
  "blue",
  "green",
  "yellow",
  "pink",
  "purple",
  "orange",
  "teal",
  "cyan",
  "lime",
  "emerald",
  "fuchsia",
  "violet",
  "rose",
  "sky",
  "amber",
];
const { href, color, blank, extraClasses, style } = Astro.props;
---

<style>
  a.btn {
    filter: drop-shadow(5px 5px 0 rgb(0 0 0 / 1));
  }
  a.btn:hover {
    filter: drop-shadow(3px 3px 0 rgb(0 0 0 / 1));
  }
</style>

<a
  style={style}
  href={href}
  target={blank ? "_blank" : "_self"}
  class:list={[
    color
      ? `hover:bg-${color}`
      : `hover:bg-${colors[Math.floor(Math.random() * colors.length)]}`,
    `btn bg-white sanchez inline-block py-2 px-4 border-2 border-black transition-all ease-in-out duration-150 ${extraClasses}`,
  ]}
>
  <slot />
</a>
